# REST API endpoint
REACT_APP_REST_ENDPOINT=http://localhost:1317

# RPC endpoint
REACT_APP_RPC_ENDPOINT=http://localhost:26657

# Terminal server endpoint
REACT_APP_TERMINAL_SERVER=http://localhost:3003
